<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935850094519-ufcq17o9575159pndh5jf265mtq0063l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935850094519-ufcq17o9575159pndh5jf265mtq0063l</string>
	<key>API_KEY</key>
	<string>AIzaSyAuFFC53VKv1v_poNlvTcEqpF5hZRQINR0</string>
	<key>GCM_SENDER_ID</key>
	<string>935850094519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Self.mobid.example</string>
	<key>PROJECT_ID</key>
	<string>mobid-12ab1</string>
	<key>STORAGE_BUCKET</key>
	<string>mobid-12ab1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935850094519:ios:42ffa2fcaf604e8dddc232</string>
</dict>
</plist>